---
import ActionStrip from "src/components/nost/action-strip.astro";
import "src/styles/global.css";

const noteId = Astro.props["note-id"];
---

<html>
	<head>
		<title>Nost - {noteId}</title>
		<link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css" />
	</head>
	<body>
		<slot />
		<ActionStrip note-id={noteId} />
	</body>
</html>

<style>
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	body {
		font-family: system-ui, sans-serif;
		background: #f2f2f2;
		font-size: 16;
	}

	@media (prefers-color-scheme: dark) {
		body {
			background: #222;
		}
	}

	@media;
</style>
