---
import NewButton from "src/components/nost/new-button.astro";
import SaveButton from "src/components/nost/save-button.astro";
import SavingStatus from "src/components/nost/saving-status";
import FlexContainer from "src/components/shared/layout/flex-container.astro";
const noteId = Astro.props["note-id"];
---

<div id="action-strip">
	<FlexContainer>
		<NewButton />
		<SaveButton note-id={noteId} />
	</FlexContainer>
	<SavingStatus client:only noteId={noteId} />
</div>

<style>
	#action-strip {
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
		align-items: center;
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		height: var(--action-strip-height);
		backdrop-filter: blur(20px);
		background: rgba(255, 255, 255, 0.95);
		box-shadow: var(--box-shadow);
		border-top: var(--border);
		padding: 0 1rem;
	}
	@media (prefers-color-scheme: dark) {
		#action-strip {
			background: rgba(0, 0, 0, 0.5);
		}
	}
</style>
