---
const { content } = Astro.props;
---

<div id="container">
	<div set:html={content} id="editor" contenteditable />
</div>
<style>
	#container {
		display: block;
		position: relative;
	}
	#container::part(editor),
	#editor {
		display: block;
		position: relative;
		margin: 1rem 0 calc(1rem + var(--action-strip-height));
		min-height: calc(100dvh - 2rem - var(--action-strip-height));
		outline: none;
	}
</style>

<script>
	const container = document.getElementById("container") as HTMLDivElement;
	const editor = document.getElementById("editor") as HTMLDivElement;
	editor.setAttribute("part", "editor");

	container.removeChild(editor);
	const shadowRoot = container.attachShadow({ mode: "open" });
	shadowRoot.appendChild(editor);

	// editor.innerHTML = ""
	// shadowRoot.innerHTML = editor.dataset.html

	// editor.addEventListener("paste", (event) => {
	// 	event.preventDefault();
	// 	const text = event.clipboardData?.getData("text/plain");
	// 	if (text) {
	// 		insertTextAtCursor(text);
	// 	}
	// });
</script>
