---
const noteId = Astro.props["note-id"];
---

<button id="btn-save" data-note-id={noteId}>Save</button>

<script>
	import { noteIsSaving } from "src/lib/state/note-save.state";

	const btn = document.getElementById("btn-save") as HTMLButtonElement;
	const editor = document.querySelector("#container")!.shadowRoot!.querySelector("#editor") as HTMLDivElement

	document.addEventListener("keydown", (event) => {
		const isCmdOrCtrlPressed = event.metaKey || event.ctrlKey;
		const isSPressed = event.key === "s";

		if (isCmdOrCtrlPressed && isSPressed) {
			event.preventDefault();
			saveNost();
		}
	});

	const saveNost = () => {
		noteIsSaving.value = true;
		btn.innerText = "Saving...";
		btn.disabled = true;
		const formData = new FormData()
		formData.append("content", editor.innerHTML)
		fetch(`/api/nost/${btn.dataset.noteId}`, {
			method: "POST",
			body: formData
		})
			.then(() => {
				btn.innerText = "Saved";
				btn.disabled = true;
			})
			.finally(() => {
				noteIsSaving.value = false;
				setTimeout(() => {
					btn.innerText = "Save";
					btn.disabled = false;
				}, 3000);
			});
	};

	btn.addEventListener("click", saveNost);
</script>
