---
import App from "src/legacy/ccl-prep/app";
import styles from "src/legacy/ccl-prep/main.css?inline";

if (!Astro.url.pathname.endsWith("/")) {
	return Astro.redirect(Astro.url.pathname + "/");
}
---

<html>
	<head>
		<title>CCL 词汇练习</title>
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, maximum-scale=1"
		/>
		<style set:html={styles}></style>
		<meta charset="utf-8" />
	</head>
	<body>
		<App client:only="preact" />
	</body>
</html>
