---
import FlexContainer from "src/components/shared/layout/flex-container.astro";
---

<button id="google-signin-btn">
	<FlexContainer>
		<svg
			xmlns="http://www.w3.org/2000/svg"
			class="icon icon-tabler icon-tabler-brand-google"
			width="1rem"
			height="1rem"
			viewBox="0 0 24 24"
			stroke-width="2"
			stroke="currentColor"
			fill="none"
			stroke-linecap="round"
			stroke-linejoin="round"
		>
			<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
			<path d="M17.788 5.108a9 9 0 1 0 3.212 6.892h-8"></path>
		</svg>
		<span>Sign in with Google</span>
	</FlexContainer>
</button>

<script>
	import { getAuth, GoogleAuthProvider, signInWithPopup } from "firebase/auth";
import { fbApp } from "src/firebase/client";
	const auth = getAuth(fbApp);
	const googleSignInBtn = document.getElementById(
		"google-signin-btn"
	) as HTMLButtonElement;
	googleSignInBtn.addEventListener("click", async () => {
		const provider = new GoogleAuthProvider();
		const userCredential = await signInWithPopup(auth, provider);
		const idToken = await userCredential.user.getIdToken();
		const res = await fetch("/api/auth/signin", {
			headers: {
				Authorization: `Bearer ${idToken}`,
			},
		});

		if (res.redirected) {
			window.location.assign(res.url);
		}
	});
</script>
