---
import GoogleSigninButton from "src/components/account/google-signin-button.astro";
import Favicon from "src/components/shared/head/favicon.astro";
import Viewport from "src/components/shared/head/viewport.astro";

const { user } = Astro.locals;
---

<html>
	<head>
		<title>Account</title>
		<Viewport />
		<Favicon />
		<link
			rel="stylesheet"
			href="https://unpkg.com/simpledotcss/simple.min.css"
		/>
	</head>
	<body>
		<header>
			<h1>Account</h1>
			<p>
				{
					user ? (
						<>
							Welcome back, {user.displayName || "User"}.{" "}
							<a href="/api/auth/signout">Sign out</a>
						</>
					) : (
						<GoogleSigninButton />
					)
				}
			</p>
		</header>
		{
			user && (
				<main>
					<form method="post" action="/api/account">
						<p>
							<strong>Your information</strong>
						</p>
						<p>
							<label for="email">Email</label>
							<input id="email" name="email" value={user.email} disabled />
						</p>
						<p>
							<>
								<input
									type="checkbox"
									id="emailVerified"
									name="emailVerified"
									checked={user.emailVerified}
									disabled
								/>
								<label for="emailVerified">Verified</label>
							</>
						</p>
						<p>
							<label for="displayName" />
							<input
								id="displayName"
								name="displayName"
								value={user.displayName}
							/>
						</p>
						<p>
							<button type="submit">Submit</button>
						</p>
					</form>
				</main>
			)
		}
		<script></script>
	</body>
</html>
