---
import GoogleSigninButton from "src/components/account/google-signin-button.astro";
import Favicon from "src/components/shared/head/favicon.astro";
import Viewport from "src/components/shared/head/viewport.astro";

const user = Astro.locals.user;
---

<html>
	<head>
		<title>Account</title>
		<Viewport />
		<Favicon />
		<link
			rel="stylesheet"
			href="https://unpkg.com/simpledotcss/simple.min.css"
		/>
	</head>
	<body>
		<header>
			<h1>Account</h1>
			<p>
				{
					user.isLoggedIn ? (
						<>
							Welcome back, {user.name}.{" "}
							<a href="/api/auth/signout">Sign out</a>
						</>
					) : (
						<GoogleSigninButton />
					)
				}
			</p>
		</header>
		<main>
			<p class="notice">
				Your email is {user?.email}
			</p>
		</main>
	</body>
</html>
